<!--
Uploading files from browser and sending to the server
You have to mention encode type as multipart in order to do this
Also method should be post
-->

<form action="destination on server" enctype="multipart/form-data" method="post">

    Click to upload file.
    <input type="file" name="fileUpload">
    <br>
    <input type="submit" value="Attach">

</form>