.fieldset {
    background-color: lightyellow;
    border: 10px solid yellow;
    margin-bottom: 10px;
    width: 720px;
}

.label {
    width: 180px;
    display: inline-block;
}

.label:hover {
    font-size: 40px;
}

.input:hover {
    font-size: 40px;
}